<title>About</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/theme.css">
<link rel="icon" type="image/png" href="../static/favicon.ico">
<link rel="stylesheet" type="text/css" href="../static/barstyle.css" title="style"/>
<form action="/login">
    <input type="submit" value="Back to Login" />
</form>
<h1>This is a project made by Jacob, Julius & Jesper</h1>
<p>This project is under construction</p>

<audio  autoplay>
    <source src="https://www.pacdv.com/sounds/ambience_sounds/street-construction-1.mp3"  type="audio/mp3">
   Your browser does not support the audio element.
   </audio>