<!DOCTYPE HTML>
<html>

<head>
  <title>DANIA Booking System</title>
	<meta name="description" content="website description" />
	<meta name="keywords" content="website keywords, website keywords" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../static/style.css" title="style" />
	<link rel="icon" type="image/png" href="../static/favicon.ico">
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="/">DANIA Booking System<span class="logo_colour"></span></a></h1>
          <h2>Students to students</h2> 
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li class="selected"><a href="/">Home</a></li>
          <li><a href="welcome">Booking System</a></li>
          <li><a href="authors">Authors</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <h3>Useful Links</h3>
        <ul>
          <li><a href="https://eadania.com/">DANIA Academy</a></li>
          <li><a href="https://eadania.mrooms.net/">Moodle</a></li>
          <li><a href="https://europe.wiseflow.net/">Wiseflow</a></li>
          <li><a href="https://selvbetjening.eadania.dk/UMSLogin/weblogin.aspx?ReturnUrl=%2f">Selfcare</a></li>
        </ul>
        <h3>Search</h3>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="" />
          </p>
        </form>
      </div>
      <div id="content">
		<h1>Mail contacts</h1>
        <h2><a href = "mailto: jesp9025@student.eadania.dk">Jesper Pedersen</a></h2>
		<h2><a href = "mailto: jaco8732@student.eadania.dk">Jacob Lundh</a></h2>
		<h2><a href = "mailto: juli46e9@student.eadania.dk">Julius Pazitka</a></h2>
        </ul>
      </div>
    </div>
    <div id="footer">
      Copyright &copy; Jesper Pedersen | Jacob Lundh | Julius Pazitka 
    </div>
  </div>
</body>
</html>
