<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/theme.css">
<link rel="icon" type="image/png" href="../static/favicon.ico">
<link rel="stylesheet" type="text/css" href="../static/barstyle.css" title="style"/>
</head>
<body>
<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Menu 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="logout">Logout</a>
      <a href="bugsubmit">Submit a bug</a>
      <a href="mainpage">Mainpage</a>
      <a href="resources">Resources</a>
      <a href="bookings">Bookings</a>
      <a href="reservation">Create Reservation</a>
      <a href="deletebooking">Delete Booking</a>
      <a href="createresource">Create Resource</a>
      <a href="deleteresource">Delete Resource</a>
      <a href="updateuser">Update User</a>
      <a href="logs">Admin Logs</a>
    </div>
  </div> 
  <a href="welcome">Frontpage</a>
  <a href="about">About</a>
</div>
</body>
<p>Logged in as: {{ username }}</p>
<div class="container">
<h2>Bookings</h2>
<body>
   {%for value in data%}
    <p>{{value | replace("(", "") | replace(")", "") | replace(":", "=") | replace("'", "") | replace("=,", ":")}}</p>
   {%endfor%}
  </body>
  <div class="container">
    <form action="" method="post" role="form"autocomplete="off">
      <label for="search">Search:</label>
      <input type="search" class="form-control" id="search" name="search" required>
      <button type="submit" class="btn btn-success">Search</button>
      <a href="bookings">Show all</a>
      </form>
      <p>Default search is exact</p>
      <p>Search is cAsE sEnSiTiVe</p>
      <p>Put % before and after search criteria to search for anything that contains what you are looking for</p>
      <p>For example %jesp%</p>
  </div>