<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/theme.css">
<link rel="icon" type="image/png" href="../static/favicon.ico">
<link rel="stylesheet" type="text/css" href="../static/barstyle.css" title="style"/>

</head>
<body>
<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Menu 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="logout">Logout</a>
      <a href="bugsubmit">Submit a bug</a>
      <a href="mainpage">Mainpage</a>
      <a href="welcome">Frontpage</a>
      <a href="resources">Resources</a>
      <a href="bookings">Bookings</a>
      <a href="reservation">Create Reservation</a>
      <a href="deletebooking">Delete Booking</a>
      <a href="deleteresource">Delete Resource</a>
      <a href="updateuser">Update User</a>
    </div>
  </div> 
</div>
      <p>Logged in as: {{ username }}</p>
<h1>Bug Submit</h1>
<div class="container">
   <body>
     {%for value in data%}
      <p>{{value | replace("(", "") | replace(")", "") | replace(":", "=") | replace("'", "") | replace("=,", ":")}}</p>
     {%endfor%}
    </body>
    <!Reference: https://stackoverflow.com/questions/47442632/how-to-write-a-python-for-loop-in-an-html-file/47442724 -->
<div class="container">
   <form action="" method="post" role="form">
   <label for="bug">What bug did you find?</label>
   <input type="text" class="form-control" id="bug" name="bug" required>
   <button type="submit" class="btn btn-success">Submit bug</button>
   </form>
</div>
