<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/theme.css">
<link rel="icon" type="image/png" href="../static/favicon.ico">
<link rel="stylesheet" type="text/css" href="../static/barstyle.css" title="style"/>
<link rel="stylesheet" type="text/css" href="../static/errorstyle.css" title="style"/>
</head>
<body>
<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Menu 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="logout">Logout</a>
      <a href="bugsubmit">Submit a bug</a>
      <a href="mainpage">Mainpage</a>
      <a href="welcome">Frontpage</a>
      <a href="resources">Resources</a>
      <a href="bookings">Bookings</a>
      <a href="reservation">Create Reservation</a>
      <a href="deletebooking">Delete Booking</a>
      <a href="deleteresource">Delete Resource</a>
      <a href="updateuser">Update User</a>
    </div>
  </div> 
</div>
</body>
<p>Logged in as: {{ username }}</p>
<h1>Update User</h1>
<div class="container">
    <h1>What do you want to update?</h1>
<div class="navbar">
    <a href="updateusername">Username</a>
    <a href="updatepassword">Password</a>
    <a href="updateemail">Email</a>
    <a href="updateadminstatus">Admin Status</a>
    <a href="deleteuser">Delete User</a>
    <a href="updateuseractivestatus">Activate/Deactivate User</a>
</div>
</div>
<div class="container">
    <h1>Delete User</h1>
    <h2>Users</h2>
    <body>
       {%for value in data%}
        <p>{{value | replace("(", "") | replace(")", "") | replace(":", "=") | replace("'", "") | replace("=,", ":") | replace(",", "")}}</p>
       {%endfor%}
      </body>
      <!Reference: https://stackoverflow.com/questions/47442632/how-to-write-a-python-for-loop-in-an-html-file/47442724 -->
</div>
<div class="container">
    <form action="" method="post" role="form">
    <p>---</p>
    <label for="Username">Username:</label>
    <input type="text" class="form-control" id="Username" name="Username" required>
    <button type="submit" class="btn btn-success">Confirm</button>
    </form>
</div>
<p>  </p>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

{% for message in messages %}


{% if "Error" in message[1]: %}
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong>Error!</strong> {{ message[1] | replace("Error:", "")}}
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}