<title>Access Denied</title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
        	 	<link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="btn-group">
   <form action="/logout">
      <input type="submit" value="Logout" />
   </form>
   <form action="/welcome">
      <input type="submit" value="Front Page" />
   </form>
   <form action="/resources">
      <input type="submit" value="Resources" />
   </form>
   <form action="/bookings">
      <input type="submit" value="Bookings" />
   </form>
   <form action="/reservation">
      <input type="submit" value="Make Reservation" />
   </form>
   <form action="/deletebooking">
    <input type="submit" value="Delete Booking" />
    </form>
    <form action="/deleteresource">
        <input type="submit" value="Delete Resource" />
    </form>
</div>
<h1>Access has been denied. Are you not staff member?</h1>

<audio  autoplay>
    <source src="https://www.myinstants.com/media/sounds/magicword.mp3"  type="audio/mp3">
   Your browser does not support the audio element.
   </audio>