<title>Access Denied</title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
               <link rel="stylesheet" href="static/bootstrap-theme.min.css">
               <link rel="icon" type="image/png" href="../static/favicon.ico">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <div class="btn-group">
         <form action="/logout">
            <input type="submit" value="Logout" />
         </form>
         <form action="/mainpage">
            <input type="submit" value="Main Page" />
         </form>
         <form action="/welcome">
            <input type="submit" value="Front Page" />
         </form>
         <form action="/resources">
            <input type="submit" value="Resources" />
         </form>
         <form action="/bookings">
            <input type="submit" value="Bookings" />
         </form>
         <form action="/reservation">
            <input type="submit" value="Make Reservation" />
         </form>
         <form action="/deletebooking">
          <input type="submit" value="Delete Booking" />
          </form>
          <form action="/deleteresource">
              <input type="submit" value="Delete Resource" />
          </form>
          <form action="/updateuser">
            <input type="submit" value="Update User" />
        </form>
      </div>
      <p>User logged in: {{ username }}</p>
<h1>Access has been denied. Are you not an admin?</h1>

<audio  autoplay>
    <source src="https://www.myinstants.com/media/sounds/magicword.mp3"  type="audio/mp3">
   Your browser does not support the audio element.
   </audio>