<title>PreSite</title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
                 <link rel="stylesheet" href="static/bootstrap-theme.min.css">
                 <link rel="icon" type="image/png" href="../static/favicon.ico">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <p>Do you swear not to try to hack this site and database?</p>
    <div class="btn-group">
        <button onclick="location.href='mainpage'" type="button">
            Yes</button>
        <button onclick="location.href='https://www.youtube.com/watch?v=gwH8v02H2ZY'" type="button">
            No</button>
    </div>
