<title>Registration</title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
        	 	<link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<form action="/">
    <input type="submit" value="Back to Login" />
</form>
<div class="container">
<h2>Registration</h2>
<form action="" method="post" role="form">
<label for="email">Email:</label>
<input type="email" class="form-control" id="email" name="email">
<label for="username">Username:</label>
<input type="text" class="form-control" id="username" name="username">
<label for="password">Password:</label>
<input type="password" class="form-control" id="password" name="password">
<button type="submit" class="btn btn-success">Register</button>
</form>