<title>Registration</title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
                 <link rel="stylesheet" href="static/bootstrap-theme.min.css">
                 <link rel="icon" type="image/png" href="../static/favicon.ico">
                 <link rel="stylesheet" type="text/css" href="../static/errorstyle.css" title="style"/>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<form action="/login">
    <input type="submit" value="Back to Login" />
</form>
<div class="container">
<h2>Registration</h2>
<form action="" method="post" role="form" autocomplete="off">
<label for="email">Email:</label>
<input type="email" class="form-control" id="email" name="email" placeholder="Gmail only" required>
<label for="username">Username:</label>
<input type="text" class="form-control" id="username" name="username" required>
<label for="password">Password:</label>
<input type="password" class="form-control" id="password" name="password" required>
<p>  </p>
<button type="submit" class="btn btn-success">Create Account</button>
</form>
<p>  </p>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

{% for message in messages %}


{% if "Error" in message[1]: %}
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong>Error!</strong> {{ message[1] | replace("Error:", "")}}
  </div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
</div>