<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/theme.css">
<link rel="icon" type="image/png" href="../static/favicon.ico">
<link rel="stylesheet" type="text/css" href="../static/barstyle.css" title="style"/>
<link rel="stylesheet" type="text/css" href="../static/errorstyle.css" title="style"/>
</head>
<body>
<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Menu 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="logout">Logout</a>
      <a href="bugsubmit">Submit a bug</a>
      <a href="mainpage">Mainpage</a>
      <a href="welcome">Frontpage</a>
      <a href="resources">Resources</a>
      <a href="bookings">Bookings</a>
      <a href="reservation">Create Reservation</a>
      <a href="deletebooking">Delete Booking</a>
      <a href="deleteresource">Delete Resource</a>
      <a href="updateuser">Update User</a>
      <a href="logs">Admin Logs</a>
    </div>
  </div> 
</div>
      <p>Logged in as: {{ username }}</p>
<h1>Make Reservation</h1>
<div class="container">
   <h2>Resources</h2>
   <body>
     {%for value in data%}
      <p>{{value | replace("(", "") | replace(")", "") | replace(":", "=") | replace("'", "") | replace("=,", ":")}}</p>
     {%endfor%}
    </body>
    <!Reference: https://stackoverflow.com/questions/47442632/how-to-write-a-python-for-loop-in-an-html-file/47442724 -->
<div class="container">
   <form action="" method="post" role="form">
   <label for="ID">Resource ID:</label>
   <input type="text" class="form-control" id="ID" name="ID" required>
   <label for="quantity">Quantity:</label>
   <input type="text" class="form-control" id="quantity" name="quantity" required>
   <label for="date">Date:(Does nothing for now)</label>
   <input type="date" class="form-control" id="date" name="date"/>
   <button type="submit" class="btn btn-success">Confirm Booking</button>
   </form>
</div>
<p>  </p>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

{% for message in messages %}


{% if "Error" in message[1]: %}
<div class="alert">
   <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
   <strong>Error!</strong> {{ message[1] | replace("Error:", "")}}
 </div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
