<title>Reservation</title>
        	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
        	<link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="btn-group">
   <form action="/logout">
      <input type="submit" value="Logout" />
   </form>
   <form action="/welcome">
      <input type="submit" value="Front Page" />
   </form>
   <form action="/resources">
      <input type="submit" value="Resources" />
   </form>
   <form action="/bookings">
      <input type="submit" value="Bookings" />
   </form>
   <form action="/reservation">
      <input type="submit" value="Make Reservation" />
   </form>
</div>
<div class="container">
   <h2>Reservation</h2>
   <form action="" method="post" role="form">
   <label for="ID">Resource ID:</label>
   <input type="text" class="form-control" id="ID" name="ID">
   <label for="quantity">Quantity:</label>
   <input type="text" class="form-control" id="quantity" name="quantity">
   <label for="bookingID">Booking ID:</label>
   <input type="text" class="form-control" id="bookingID" name="bookingID">
   <button type="submit" class="btn btn-success">Confirm Booking</button>
   </form>