<title>Resources</title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
        	 	<link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
<h2>Resources Available</h2>
<body>
  {%for value in data%}
     <p>{{value}}</p>
  {%endfor%}
   <form action="/reservation">
   <input type="submit" value="Make Reservation" />
</form>
 </body>
 <!Reference: https://stackoverflow.com/questions/47442632/how-to-write-a-python-for-loop-in-an-html-file/47442724 -->