<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/theme.css">
<link rel="icon" type="image/png" href="../static/favicon.ico">
<link rel="stylesheet" type="text/css" href="../static/barstyle.css" title="style"/>
<link rel="stylesheet" type="text/css" href="../static/errorstyle.css" title="style"/>

<style>
  .alert2 {
    padding: 20px;
    background-color: #13a30e;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  </style>

</head>
<body>
<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Menu 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="logout">Logout</a>
      <a href="bugsubmit">Submit a bug</a>
      <a href="mainpage">Mainpage</a>
      <a href="welcome">Frontpage</a>
      <a href="resources">Resources</a>
      <a href="bookings">Bookings</a>
      <a href="reservation">Create Reservation</a>
      <a href="deletebooking">Delete Booking</a>
      <a href="deleteresource">Delete Resource</a>
      <a href="updateuser">Update User</a>
      <a href="logs">Admin Logs</a>
    </div>
  </div> 
</div>
</body>
<p>Logged in as: {{ username }}</p>
<h1>Update User</h1>
<div class="container">
    <h1>What do you want to update?</h1>
<div class="navbar">
    <a href="updateusername">Username</a>
    <a href="updatepassword">Password</a>
    <a href="updateemail">Email</a>
    <a href="updateadminstatus">Admin Status</a>
    <a href="deleteuser">Delete User</a>
    <a href="updateuseractivestatus">Activate/Deactivate User</a>
</div>
</div>
<p>  </p>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for message in messages %}
{% if "Success" in message[1]: %}
<div class="alert2">
   <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
   <strong>Success!</strong> {{ message[1] | replace("Success:", "")}}
 </div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}