<title>Frontpage</title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
               <link rel="stylesheet" href="static/bootstrap-theme.min.css">
               <link rel="icon" type="image/png" href="../static/favicon.ico">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <div class="btn-group">
         <form action="/logout">
            <input type="submit" value="Logout" />
         </form>
         <form action="/mainpage">
            <input type="submit" value="Main Page" />
         </form>
         <form action="/welcome">
            <input type="submit" value="Front Page" />
         </form>
         <form action="/resources">
            <input type="submit" value="Resources" />
         </form>
         <form action="/bookings">
            <input type="submit" value="Bookings" />
         </form>
         <form action="/reservation">
            <input type="submit" value="Make Reservation" />
         </form>
         <form action="/deletebooking">
          <input type="submit" value="Delete Booking" />
          </form>
          <form action="/deleteresource">
              <input type="submit" value="Delete Resource" />
          </form>
          <form action="/updateuser">
            <input type="submit" value="Update User" />
        </form>
      </div>
      <p>User logged in: {{ username }}</p>
<h1>Welcome to our Booking System</h1>
<h2>Features:</h2>
<p>- Create/Register new account</p>
<p>- Login page with session</p>
<p>- Hashed passwords</p>
<p>- Navigation panel on top of website</p>
<p>- Bookings older than 1 day will be deleted and reserved resource quantity will be put back</p>
<p>- On booking, an email will be sent to the users registered email address</p>
<p>- Unique ID generator for user and booking creation</p>
<p>- View Resources & Bookings</p>
<p>- Make reservation/booking on equipment. Simply input ID of resource and quantity. It will be reserved for 24 hours.</p>
<p>- Delete bookings (admins can delete everything, users can only delete own bookings)</p>
<p>- Delete Resources(admins only)</p>
<p>- Update User: Username, password, email, admin status, delete user(admins only)</p>

<h2>Limitations:</h2>
<p>Not possible to book "into the future"</p>
<p>Meaning, when you create a booking, items/equipment is booked instantly for 1 day</p>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

{% for message in messages %}


{% if "Success" in message[1]: %}
<div class="alert alert-warning">
                {{ message[1] }}</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

{% for message in messages %}


{% if "Error" in message[1]: %}
<div class="alert alert-warning">
                {{ message[1] }}</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}