<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/theme.css">
<link rel="icon" type="image/png" href="../static/favicon.ico">
<link rel="stylesheet" type="text/css" href="../static/barstyle.css" title="style"/>
<link rel="stylesheet" type="text/css" href="../static/errorstyle.css" title="style"/>
<style>
   .alert2 {
     padding: 20px;
     background-color: #13a30e;
     color: white;
   }
   
   .closebtn {
     margin-left: 15px;
     color: white;
     font-weight: bold;
     float: right;
     font-size: 22px;
     line-height: 20px;
     cursor: pointer;
     transition: 0.3s;
   }
   
   .closebtn:hover {
     color: black;
   }
   </style>
</head>
<body>
<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Menu 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="logout">Logout</a>
      <a href="about">About</a>
      <a href="bugsubmit">Submit a bug</a>
      <a href="mainpage">Mainpage</a>
      <a href="welcome">Frontpage</a>
      <a href="resources">Resources</a>
      <a href="bookings">Bookings</a>
      <a href="reservation">Create Reservation</a>
      <a href="deletebooking">Delete Booking</a>
      <a href="createresource">Create Resource</a>
      <a href="deleteresource">Delete Resource</a>
      <a href="updateuser">Update User</a>
      <a href="logs">Admin Logs</a>
    </div>
  </div> 
</div>
<p>Logged in as: {{ username }}</p>
<h3>Welcome to our Booking System Project</h3>
<p>Hover over the "Menu" link to see your options.</p>
<p>Go to About page to see a list of features</p>
</body>
<p>  </p>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for message in messages %}
{% if "Success" in message[1]: %}
<div class="alert2">
   <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
   <strong>Success!</strong> {{ message[1] | replace("Success:", "")}}
 </div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for message in messages %}
{% if "Error" in message[1]: %}
<div class="alert">
   <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
   <strong>Error!</strong> {{ message[1] | replace("Error:", "")}}
 </div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}